.homePage {
  padding: 100px;
  font-family: Verdana;
  background-color: #111;
}

.baseComponentsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.solventLogo {
}

.solventTitle {
  color: #eaeaea;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: calc(18px + 1vmin);
  text-align: center;
}

.previewText {
  color: #eaeaea;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: calc(10px + 1vmin);
  text-align: center;
}

.postConnectActionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.connectPhantomButton {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: calc(6px + 1vmin);
  color: #00f99f;
  padding: 5px;
  background-color: #111;
  border: 1px solid #00f99f;
  border-radius: 3px;
}

.connectPhantomButton:hover {
  color: #111;
  background-color: #00f99f;
}

.dropMeNFTButton {
  margin-left: 20px;
  margin-right: 20px;
  font-size: calc(6px + 1vmin);
  color: #00f99f;
  padding: 5px;
  background-color: #111;
  border: 1px solid #00f99f;
  border-radius: 3px;
}

.dropMeNFTButton:hover {
  color: #111;
  background-color: #00f99f;
}

.previewButton {
  margin-left: 20px;
  margin-right: 20px;
  font-size: calc(6px + 1vmin);
  color: #00f99f;
  padding: 5px;
  background-color: #111;
  border: 1px solid #00f99f;
  border-radius: 3px;
}

.previewButton:hover {
  color: #111;
  background-color: #00f99f;
}
