.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navBar {
  width: 100vw;
  height: max(50px, 12vh);
  border-bottom: 1px solid #eaeaea;
}

.mainContent {
  width: 100vw;
  height: 80vh;
}

.footer {
  width: 100vw;
  height: max(40px, 8vh);
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eaeaea;
}


.logo {
  height: 1em;
  margin-left: 0.5rem;
}
